@page "/trending"
@inject StocksService stocksService

<h3>Trending</h3>

@if (trendingStocks == null)
{
    <div class="spinner-border text-primary"></div>
}
else
{
    <MatTable Items="@trendingStocks" Class="mat-elevation-z5">
        <MatTableHeader>
            <th>Symbol</th>
            <th style="width: 60%">Name</th>
            <th>Change</th>
            <th>Action</th>
        </MatTableHeader>
        <MatTableRow>
            <td>@context.Symbol</td>
            <td>@context.LongName</td>
            <td>
                <span class="@( context.RegularMarketChangePercent > 0 ? "text-success" : "text-danger")">
                    @context.RegularMarketChangePercent.ToString("0.00")
                </span>
            </td>
            <td>
                <button class="btn btn-outline-primary oi oi-plus font-weight-bold"
                        @*@onclick="@(() => AddStock(context.ID))*@"></button>
            </td>
        </MatTableRow>
    </MatTable>
}

@code {
    private List<TrendingStock> trendingStocks;

    protected override async Task OnInitializedAsync()
    {
        this.trendingStocks = await this.stocksService.GetTrendingStocks();
    }
}
